.graphContainer {
  height: 200px;
  width: 200px;
}

@media screen and (max-width: 350px) {
  .graphContainer {
    height: 150px;
    width: 150px;
    margin: 0 -1px;
  }
}

@media screen and (min-width: 351px) and (max-width: 600px) {
  .graphContainer {
    height: 175px;
    width: 175px;
    margin: 0 -1px;
  }
}
