.row {
  display: flex;
  border: 1px solid black;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 3px;
}

.row:hover {
  background-color: lightblue;
}

.Table {
  width: 100%;
  border-spacing: 0px;
}

.Scroll {
  overflow-y: scroll;
}

.column {
  flex: 1 1;
  padding: 2px;
}

.TitleRow {
  text-align: left;
  border: 1px solid black;
  display: flex;
  background-color: lightgray;
  font-size: 16px;
  font-weight: bold;
}

.Col {
  flex: 1;
  padding: 2px;
}

@media screen and (max-width: 350px) {
  .TitleRow {
    font-size: 9px;
  }

  .row {
    font-size: 7px;
  }
}

@media screen and (min-width: 351px) and (max-width: 600px) {
  .TitleRow {
    font-size: 12px;
  }

  .row {
    font-size: 10px;
  }
}
