.root {
}

@viewport {
  width: device-width;
  zoom: 1;
}

.MajorCounts {
  text-align: center;
  font-size: xx-large;
}

.TitleRow {
  text-align: left;
  border: 2px solid black;
  display: flex;
  background-color: lightgray;
  font-size: 20px;
}

.Col {
  flex: 1;
}

.Row {
  display: flex;
  border: 1px solid black;
  font-size: 18px;
}
.Row:hover {
  background-color: lightblue;
}

@media screen and (max-width: 350px) {
  .TitleRow {
    font-size: 10px;
  }

  .Row {
    font-size: 8px;
  }

  .MajorCounts {
    font-size: 15px;
  }
}
