.container {
  background-image: url(./covid.jpg);
  background-size: contain;
  position: relative;
}

@viewport {
  width: device-width;
  zoom: 1;
}

.Header {
  text-align: center;
  background-color: azure;
  opacity: 0.6;
}

.Title {
  font-size: 50px;
}

.MajorCounts {
  font-size: 24px;
  font-weight: bold;
}

.TitleRow {
  text-align: left;
  border: 2px solid black;
  display: flex;
  background-color: lightgray;
  font-size: 16px;
  font-weight: bold;
}

.Table {
  width: 100%;
  border-spacing: 0px;
}
.Col {
  flex: 1;
  padding: 2px;
}

.Scroll {
  overflow-y: scroll;
  background-color: azure;
  opacity: 0.8;
}

.Search {
  background-color: azure;
  opacity: 0.8;
  padding: 2px;
}

.Refresh {
  text-align: left;
  padding: 2px;
}

.FilterClear {
  cursor: pointer;
  font-size: 15px;
  padding: 0px 5px;
  margin-left: -20px;
}

.FilterClear:hover {
  background: #bbb;
}

.Row {
  display: flex;
  border: 1px solid black;
  font-size: 14px;
  background-color: azure;
  opacity: 0.8;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 3px;
}
.Row:hover {
  background-color: lightblue;
}

.UpdatedTime {
  font-size: 12px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 350px) {
  .PageHeader {
    font-size: 36px;
  }

  .TitleRow {
    font-size: 9px;
  }

  .Row {
    font-size: 7px;
  }

  .MajorCounts {
    font-size: 16px;
  }

  .UpdatedTime {
    font-size: 6px;
  }

  .filterClear {
    left: 120px;
  }
}

@media screen and (min-width: 351px) and (max-width: 600px) {
  .PageHeader {
    font-size: 40px;
  }

  .TitleRow {
    font-size: 12px;
  }

  .Row {
    font-size: 10px;
  }

  .MajorCounts {
    font-size: 18px;
  }

  .UpdatedTime {
    font-size: 8px;
  }
}
